@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

::-webkit-scrollbar {
   width: 4px;
   height: 4px;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: #11979C; /* Blue */
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background: #11979C;
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}
